html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: sans-serif;
    min-height: 100vh;
    background: #86947D;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    background: #86947D;
}

.logo {
    width: 150px;
    height: auto;
    cursor: pointer;
}

.cabecalho__busca {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 2px;
    width: auto; 
}

.busca__fundo {
    align-items: center;
    background-color: #041A37;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.busca__input {
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    height: 24px;
    padding: 10px;
    width: 500px;
    color: white;
}

.busca__icone {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.conteudo {
    background: #86947D;
    max-width: 1500px;
    margin: 0 auto;
}

.banner {
    width: auto;
    position: relative;
    margin-bottom: 1.5rem;
}

.banner__carrossel {
    position: relative;
    height: 500px; /* igual ao .banner__imagem */
    overflow: hidden;
}
.banner__imagem {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 1;
}
.banner__imagem.active {
    opacity: 1;
    z-index: 2;
}


.tags {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #320ed4;
    font-size: 1.3rem;
}

.tags__titulo {
    margin-right: 4rem;
}

.tags__lista {
    display: flex;
}

.tags__tag {
    background-color: #973a49a1;
    margin-right: 1.5rem;
    border-radius: 8px;
    padding: .8rem .5rem;
    width: 100px;
    text-align: center;
    border: 2px solid transparent;
}

.tags__tag:hover {
    border: 2px solid #7B78E5;
    cursor: pointer;
}

.menu-lateral__navegacao {
    display: inline;
    padding: 1rem;
    border-radius: 10px;
    height: auto;
    width: 200px;
}