{% load static %}
<div class = "pagina_inicial">
        <header class = "cabecalho">
            <img class = "logo" src="{% static 'assets/imagens/zoo_animals.webp' %}" alt="Logo" />
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <input class="busca__input" type="text" placeholder="O que você procura?">
                    <img class="busca__icone" src="{% static 'assets/imagens/chinchila.jpg' %}" alt="ícone de search">
                </div>
            </div>
        </header>
    </div>